node_modules/*
git-2.16.3-intel-universal-mavericks.dmg
git-2.16.3-intel-universal-mavericks.dmg.temp
VSCode-darwin-stable.zip
VSCode-darwin-stable.zip.cpgz
VSCode-darwin-stable.zip.temp
Git-2.16.3-64-bit.exe.temp
Git-2.16.3-64-bit.exe
VSCodeSetup-ia32-1.22.2.exe.temp
VSCodeSetup-ia32-1.22.2.exe
yarn.lock
package.json